* {
  margin: 0;
  padding: 0;
  font-family: Lexend Deca, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background: hsl(233, 47%, 7%);
  color: #fff;
}
.container {
  height: 400px;
  margin: 120px 170px 150px 170px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  background: hsl(244, 38%, 16%);
  border-radius: 10px;
}
h1 {
  margin: 50px 50px 0 50px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
p {
  margin-top: 0;
  margin: 30px 60px 0 50px;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-weight: 400;
}
.insights {
  color: hsl(277, 64%, 61%);
}
.content {
  background: hsl(244, 38%, 16%);
  border-radius: 10px;
  width: 60%;
}
.img {
  width: 500px;
  background-image: linear-gradient(
      hsla(277, 59%, 27%, 0.618),
      hsla(277, 59%, 27%, 0.618)
    ),
    url(/images/image-header-desktop.jpg);
  border-radius: 0 10px 10px 0;
}

.nums {
  margin: 70px;
  display: flex;
  align-items: center;
}

.cl-10k,
.cl-314,
.cl-12m {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.companies,
.templates,
.queries {
  margin-top: 10px;
  display: block;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.cl-1,
.cl-2,
.cl-3 {
  margin-right: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .container {
    height: 909px;
    /* padding-bottom: 200px; */
    display: flex;
    flex-direction: column-reverse;
    margin: 20% 5% 20% 5%;
  }
  .content {
    width: 100%;
  }
  .img {
    width: 337px;
    height: 312px;
    border-radius: 10px 10px 0 0;
  }
  p {
    text-align: center;
  }
  .nums {
    margin: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .companies,
  .templates,
  .queries {
    margin-top: 10px;
    display: block;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    align-items: center;
  }
  .cl-10k,
  .cl-314,
  .cl-12m {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-right: 0;
  }
  .cl-1,
  .cl-2,
  .cl-3 {
    margin-top: 20px;
  }
}
